<div class="container mt-4">
  <h1 class="mb-4">New Genre</h1>

  <%= render "form", genre: @genre %>

  <div class="mt-3">
    <%= link_to "Cancel", genres_path, class: "btn btn-secondary" %>
  </div>
</div>