<div class="container mt-4">
  <h1><%= @genre.name %></h1>

  <div class="d-flex gap-2 mt-3">
    <%= link_to "Back", genres_path, class: "btn btn-secondary" %>
    <%= link_to "Edit", edit_genre_path(@genre), class: "btn btn-primary" %>
  </div>
</div>