<h1>Edit director</h1>

<%= render "form", director: @director %>
<%= link_to "Cancel", @director %>
<%= button_to "Delete", @director, method: :delete, data: { turbo_confirm: "Are you sure?" } %>