<div class="container mt-4">
  <h1>Directors</h1>

  <%= link_to "New Director", new_director_path, class: "btn btn-success mb-3" %>

  <div id="directors" class="list-group">
    <% @directors.each do |director| %>
      <%= link_to "#{director.first_name} #{director.last_name}", director, class: "list-group-item list-group-item-action" %>
    <% end %>
  </div>
</div>