<div class="container mt-4">
  <h1 class="mb-4">New Director</h1>

  <%= render "form", director: @director %>

  <div class="mt-3">
    <%= link_to "Cancel", directors_path, class: "btn btn-secondary" %>
  </div>
</div>